<app-top-nav></app-top-nav>
<app-side-nav-bar></app-side-nav-bar>
<div class="d-flex justify-content-center m-5">
    <img src="https://www.tectoro.com/img/docker.png" alt="docker-img">
</div>
<div class="customclass">
    <p>
        Container based technologies like docker is the way to go platform and the biggest invention of the decade. It
        is going to revolutionize the way we develop, the way we test and the way we deploy. Using docker in your
        development lifecycle offers various advantages like faster onboarding, developing against production like
        environment, automated testing, continuous integration against production like environment, automated
        deployments and fully optimized infrastructure.
    </p>

    <p>
        At Tectoro, we are one of the early birds to understand the power of docker and deeply integrated it in all our
        product lifecycle. We do all our development, run tests and perform continuous deployments using docker. Our
        production environment runs in docker providing a great flexibility in load management. We have our deployments
        in Docker tutum / cloud as well as our own docker based platform as a service which is being used by many of our
        clients.
    </p>

    <p>
        We are proud to declare that we are official Partners with docker. Interested in availing any consultancy to use
        docker in your product lifecycle? Send a mail to info@tectoro.com
    </p>
</div>

<div class="d-flex justify-content-center m-5">
    <img src="https://www.tectoro.com/img/mongodb-logo.png" alt="mongodb-img">
</div>
<div class="customclass">
    <p>
        MongoDB is the leading NoSQL database and our partnership with MongoDB is enabling us to develop applications that are scalable, agile, create data-dimensions to empower business and enhance client experience. Our team of experienced MongoDB technical experts can help you in your MongoDB journey.
    </p>

    <p>
        Today’s world is conforming to Data Lake and “DaaS” i.e Data as Service and organizations are required to capture, maintain or consume huge data to empower their business. Our Data experts can help you in this area by aligning your business goals to MongoDB capabilities.
    </p>

    <p>
        At Tectoro, we have many products developed internally and for our clients using MongoDB for over the last 4 years.
    </p>

    <p>
        We are proud to declare that we are official Partners with MongoDB. Interested in availing any consultancy to use MongoDB in your product lifecycle? Send a mail to info@tectoro.com
    </p>
</div>