.main_content{
    width: 89%;
    margin-left: 200px;
  }
  
.main_content .header{
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
  }
  
.main_content .info{
    margin: 20px;
    color: #717171;
    line-height: 25px;
  }
  
.main_content .info div{
    margin-bottom: 20px;
  }
  .active{
      color:white;
      background-color: black;
  }