<div>
    <div class="">
        <div class="">
            <div class="col-md-2 bag-custom vh-100">
                <div class="">
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li>
                            <a routerLink="/datapage" class="nav-link px-5 align-middle text-white font-weight-bolder m-3" routerLinkActive="highlightcv">
                           Dashboard </a>
                        </li>
                        <li>
                            <a routerLink="/content" class="nav-link px-5 align-middle text-success font-weight-bolder m-3" routerLinkActive="highlightcv">
                             Content</a>
                        </li>
                        <li>
                            <a class="nav-link px-5 align-middle text-success font-weight-bolder m-3">
                                Summary </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
